footer#footer.footer
    .container
        .footer__inner
            .footer__wrapper
                img(src=footerLogo, alt="img").footer__logo

            .footer__info
                h3.footer__info-title Contato

                ul.footer__info-list
                    li.footer__info-item._anim-items
                        a(href='tel:552199999999').footer__info-tel 55 21 9999-9999
                        a(href='mailto: contato@bikcraft.com').footer__info-email contato@bikcraft.com
                    li.footer__info-item._anim-items
                        p.footer__info-text Rua Ali Perto, 42 - Botafogo <br> Rio de Janeiro - RJ

                ul.footer__social-list
                    li.footer__social-item._anim-items
                        a(href='#').footer__social-link
                            include images/footer-social-1.svg
                    li.footer__social-item._anim-items
                        a(href='#').footer__social-link
                            include images/footer-social-2.svg
                    li.footer__social-item._anim-items
                        a(href='#').footer__social-link
                            include images/footer-social-3.svg

            .footer__information
                h4.footer__information-title Informações

                ul.footer__information-list
                    li.footer__information-item._anim-items
                        a(href='#').footer__information-link Bicicletas
                    li.footer__information-item._anim-items
                        a(href='#').footer__information-link Seguros
                    li.footer__information-item._anim-items
                        a(href='#').footer__information-link Contato
                    li.footer__information-item._anim-items
                        a(href='#').footer__information-link Termos e Condições

        .footer__copy
            p.footer__copy-text Bikcraft © Alguns direitos reservados.


script(src='./js/main.min.js')
script(src='./js/animation.js')

