header.header
    .container
        .header__inner
            a(href="/").header__link
                img(src=headerLogo, alt="img").header__logo

            nav.menu
                button.menu__btn
                    span.menu__btn-line
                ul.menu__list
                    li.menu__list-item
                        a(href='#card').menu__list-item-link <span>Bicicletas</span>
                    li.menu__list-item
                        a(href='#insurance').menu__list-item-link <span>Seguros</span>
                    li.menu__list-item
                        a(href='#footer').menu__list-item-link <span>Cantato</span>

    .top
        .container
            .top__inner
                .top__info
                    h1.top__info-title._anim-items Bicicletas feitas sob medida<span>.</span>
                    p.top__info-text._anim-items Bicicletas elétricas de alta precisão e qualidade,  feitas sob medida para o cliente. Explore o mundo na sua velocidade com a Bikcraft.
                    a(href='#').top__info-link._anim-items SELECIONE A SUA

                .top__wrapper
                    img(src=topImg, alt="img").top__img





